body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 200;
  background-color: #f8f8ff;
}

input[type="text"] {
  background-color: #f8f8ff;
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  text-align: center;
  width: 100vw;
  z-index: 0;
}

nav div {
  margin: 0;
  border-bottom-left-radius: 100% 200%;
  border-bottom-right-radius: 100% 200%;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
  font-weight: 200;
}

.gray {
  color: rgb(134, 134, 134);
}

.b1 {
  font-size: 1.9em;
  font-weight: 200;
}

.b2 {
  font-size: 1.5em;
  font-weight: 300;
}

form {
  background: hsl(208, 100%, 50%);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  border-radius: 2rem;
  margin: 15px;
}

@media (max-width: 728px) {
  form {
    border-radius: 0;
    margin: 0;
    height: 8rem;
    flex-direction: column;
  }

  #bug_name {
    flex-grow: 1;
  }
}

form button {
  background: hsl(56, 100%, 50%);
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  border-radius: 2rem;
  display: none;
}

#bug_name {
  border: none;
  padding: 0 1rem;
  border-radius: 2rem;
  margin: 0.25rem;
}

#message {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#message:focus,
#bug_name:focus {
  outline: none;
}

#messages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
}

#messages>li {
  opacity: 0.8;
  filter: blur(1);
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  color: #919191;
  align-self: flex-start;
  border-radius: 2rem;
  background: hsl(157, 100%, 50%);
  z-index: 1;
}

#messages>li.me {
  align-self: flex-end;
  background: #fffe00;
}

.msg-contents {
  color: black;
}

.msg-author {
  color: white;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    form button {
      display: block;
    }
  }
}

a {
  color: hsl(350, 100%, 77%);
}